@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

@layer base {
  body {
    @apply bg-slate-200;
    font-family: "PT Sans", sans-serif;
  }
}

@layer components {
  .container-md {
    /* @apply mx-[14rem]; */
    @apply w-full;
  }

  .container-sm {
    /* @apply mx-[1.25rem]; */
    @apply w-full p-4;
  }
}

.field-sm {
  background: url("./field-green.webp") no-repeat;
  background-size: 100% 480px;
  border-radius: 5px;
}

.field {
  background: url("./field-green.webp") no-repeat;
  background-size: 378px 480px;
  border-radius: 5px;
}
